<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ridealong</display-name>
  <welcome-file-list>
    <welcome-file>startwelcome.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddPhotoServlet</display-name>
    <servlet-name>AddPhotoServlet</servlet-name>
    <servlet-class>com.bvrit.happyride.controller.AddPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhotoServlet</servlet-name>
    <url-pattern>/addphoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarDetailsController</display-name>
    <servlet-name>CarDetailsController</servlet-name>
    <servlet-class>com.bvrit.happyride.controller.CarDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarDetailsController</servlet-name>
    <url-pattern>/cardetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPhotoServlet</display-name>
    <servlet-name>DisplayPhotoServlet</servlet-name>
    <servlet-class>com.bvrit.happyride.controller.DisplayPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPhotoServlet</servlet-name>
    <url-pattern>/displayphoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JourneyDetailsController</display-name>
    <servlet-name>JourneyDetailsController</servlet-name>
    <servlet-class>com.bvrit.happyride.controller.JourneyDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JourneyDetailsController</servlet-name>
    <url-pattern>/journeydetails</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>FindRideController</display-name>
    <servlet-name>FindRideController</servlet-name>
    <servlet-class>com.bvrit.happyride.controller.FindRideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindRideController</servlet-name>
    <url-pattern>/findride</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LicenceController</display-name>
    <servlet-name>LicenceController</servlet-name>
    <servlet-class>com.bvrit.happyride.controller.LicenceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LicenceController</servlet-name>
    <url-pattern>/licence</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.bvrit.happyride.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.bvrit.happyride.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
</web-app>